input {
    border: 0px solid transparent;
    background-color: #EFF1F6;
    border-radius: 15px;
    padding: 15px 10px;
    width: calc(100% - 20px) !important;
    margin-top: 5px;
    font-size: 18px;
    outline: 2px solid transparent;

}

textarea {
    border: 0px solid transparent;
    background-color: #EFF1F6;
    border-radius: 15px;
    padding: 15px 10px;
    width: calc(100% - 20px) !important;
    margin-top: 5px;
    font-size: 18px;
    height: 150px;
    resize: none;
    outline: 2px solid transparent;

}

select {
    border: 0px solid transparent;
    background-color: #EFF1F6;
    border-radius: 15px;
    padding: 15px 10px;
    width: calc(100%) !important;
    margin-top: 5px;
    font-size: 18px;
}

input:focus, textarea:focus {
    outline: 1px solid var(--primary);
}

input.borderless-input {
    background-color: transparent !important;
    font-size: 30px;
    font-family: 'Fustat-ExtraBold' !important;
    padding: 0px !important;
    caret-color: var(--primary);
    border-radius: 0px !important;
}

input.borderless-input:focus {
    outline: 0px solid transparent !important;
}

input.borderless-input::placeholder {
    color: #e0e0e0;
}

/* Chrome, Safari, Edge, Opera */
input.borderless-input::-webkit-outer-spin-button,
input.borderless-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.borderless-input[type=number] {
  -moz-appearance: textfield;
}